/*
*  #design-widths
*/
$mobile: 640;
$tablet: 1024;
$desktop: 1520;


/*
*  #breakpoints
*/
$mobile-width: $mobile + 0px;
$tablet-width: $tablet + 0px;
$desktop-width: $desktop + 0px;


/*
*  #layers
*/
$layer-0: 0;
$layer-1: 10;
$layer-2: 20;
$layer-3: 30;
$layer-4: 40;
$layer-5: 50;


/*
*  #transitions
*/
$short-transition: .4s;
$med-transition: .6s;
$long-transition: 1s;
