/*
*  #design-widths
*/
$mobile: 640;
$tablet: 1024;
$desktop: 1520;


/*
*  #breakpoints
*/
$mobile-width: $mobile + 0px;
$tablet-width: $tablet + 0px;
$desktop-width: $desktop + 0px;


/*
*  #transitions
*/
$short-transition: .4s;
$med-transition: .6s;
$long-transition: 1s;
