////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//  D E P R E C A T E D                                                       //
//                                                                            //
//  Please use the font-families defined in toolkit-core.                     //
//                                                                            //
//  For more info, visit https://github.com/sky-uk/toolkit                    //
//                                                                            //
////////////////////////////////////////////////////////////////////////////////

/*
*  #font-families
*/
$skytext-reg: SkyTextRegular, Helvetica, Arial, Sans-Serif;
$skytext-med: SkyTextMedium, Helvetica, Arial, Sans-Serif;
$skycons: skycons_2;


@mixin font($font) {
  font-family: $font;
  font-weight: normal;
}
